<!-- Footer -->
<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-4">
          <h3>Around the Web</h3>
          <ul class="list-inline">
            <li class="list-inline-item">
              <a target="_blank" class="btn-social btn-outline" href="https://github.com/kristynrb/practice_rails_blog">
                <i class="fa fa-fw fa-github"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a target="_blank" class="btn-social btn-outline" href="https://twitter.com/kristynbkristyn">
                <i class="fa fa-fw fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a target="_blank" class="btn-social btn-outline" href="https://www.linkedin.com/in/kristynbryan/">
                <i class="fa fa-fw fa-linkedin"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyright &copy; Kristyn Bryan 2017
        </div>
      </div>
    </div>
  </div>
</footer>
